<div class="row">
            <div class="col-md-6">
              <div class="post">
                <img src="img/rails3.jpg">
                <div class="pst-content">
                  <h3>Lorem Ipsum</h3><small>Posted by Onzen Miluka</small>           
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ex odio, pulvinar et libero ultricies, facilisis commodo mauris. Morbi tincidunt nisl felis, vitae imperdiet est mollis vitae. Etiam ullamcorper diam a tincidunt finibus. Duis pretium porttitor turpis nec mattis. Nulla vehicula mauris elit, ac congue orci tincidunt id. </p>
                  <a href="#" class="btn btn-primary"> Read more</a>
                </div>
              </div>
              <div class="post">
                <img src="img/rails3.jpg">
                <div class="pst-content">
                  <h3>Lorem Ipsum</h3><small>Posted by Onzen Miluka</small>           
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ex odio, pulvinar et libero ultricies, facilisis commodo mauris. Morbi tincidunt nisl felis, vitae imperdiet est mollis vitae. Etiam ullamcorper diam a tincidunt finibus. Duis pretium porttitor turpis nec mattis. Nulla vehicula mauris elit, ac congue orci tincidunt id. </p>
                  <a href="#" class="btn btn-primary"> Read more</a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="post">
                <img src="img/rails3.jpg">
                <div class="pst-content">
                  <h3>Lorem Ipsum</h3><small>Posted by Onzen Miluka</small>           
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ex odio, pulvinar et libero ultricies, facilisis commodo mauris. Morbi tincidunt nisl felis, vitae imperdiet est mollis vitae. Etiam ullamcorper diam a tincidunt finibus. Duis pretium porttitor turpis nec mattis. Nulla vehicula mauris elit, ac congue orci tincidunt id. </p>
                  <a href="#" class="btn btn-primary"> Read more</a>
                </div>
              </div>
              <div class="post">
                <img src="img/rails3.jpg">
                <div class="pst-content">
                  <h3>Lorem Ipsum</h3><small>Posted by Onzen Miluka</small>           
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ex odio, pulvinar et libero ultricies, facilisis commodo mauris. Morbi tincidunt nisl felis, vitae imperdiet est mollis vitae. Etiam ullamcorper diam a tincidunt finibus. Duis pretium porttitor turpis nec mattis. Nulla vehicula mauris elit, ac congue orci tincidunt id. </p>
                  <a href="#" class="btn btn-primary"> Read more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="list-group">
            <a href="#" class="list-group-item">News</a>
            <a href="#" class="list-group-item">Releases</a>
            <a href="#" class="list-group-item">Tutorials</a>
            <a href="#" class="list-group-item">Events</a>
          </div>
